/*COLORES*/
:root {
  --color-black: #000000;
  --color-grey: #303030;
  --color-white: #f8f9fa;
  --color-lila: #b110eb;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

/*BOX-SIZING & FONT SIZING*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*SCROLL BEHAVIOR*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px;
}

/*SCROLLBAR*/

/*firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-lila) var(--color-grey);
}

/*other browser*/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-grey);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-lila);
}

/*GENERAL*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-black);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/*HEADER*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: var(--color-grey);
  z-index: 10;
}

.nav-list {
  display: flex;
}

.nav-list a {
  color: var(--color-white);
  margin-left: 10px;
  margin-right: 10px;
}

.nav-list li {
  list-style: none;
  padding: 10px 15px;
  position: relative;
  font-size: 1.2em;
  align-self: center;
}

.nav-list a:after {
  opacity: 0;
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-lila);
  transition: width 0.4s;
}

a:hover::after {
  width: 65%;
  opacity: 1;
}

/*WELCOME SECTION*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--color-white);
  background-color: #333333f5;
}

.ws-subtitle1 {
  font-size: 3rem;
  font-weight: 200;
  color: var(--color-white);
}

.ws-subtitle2 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.ws-subtitle2 > span {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--color-lila);
  font-weight: 1000;
}

/*section styles*/
.section-style {
  text-align: center;
  padding: 5rem 2rem 5rem;
}

.section-header {
  max-width: 640px;
  margin: 0 auto 5rem auto;
  border-bottom: 0.2rem solid var(--color-grey);
}

/*ABOUT ME SECTION */
.aboutme-section {
  font-size: 1.6rem;
  width: 90%;
  margin: auto;
  text-align: left;
}

.aboutme-section > p {
  line-height: 35px;
  width: 90%;
  margin: 20px auto 0px auto;
}

/*PROJECTS SECTION*/
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--color-white);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--color-black);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: var(--color-lila);
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  color: var(--color-black);
  font-size: 1.8rem;
  padding: 2rem 0.5rem;
}

/*FOOTER*/
footer {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--color-grey);
}

.contact-details {
  font-size: 4.5rem;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--color-grey);
}

.contact-details:hover {
  transform: translateY(2px);
  color: var(--color-lila);
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  html {
    font-size: 110%;
  }

  .projects-grid {
    grid-template-columns: auto;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  html {
    font-size: 50%;
  }

  section {
    scroll-margin-top: 40px;
  }

  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 425px) {
  html {
    font-size: 45%;
  }

  section {
    scroll-margin-top: 30px;
  }

  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .nav-list li {
    padding: 0px;
  }

  .nav-list a:after {
    background: none;
  }
}

@media only screen and (min-device-width: 344px) and (max-device-width: 375px) {
  html {
    font-size: 40%;
  }

  section {
    scroll-margin-top: 30px;
  }

  .nav {
    justify-content: center;
  }

  .nav-list > li {
    margin: 0px;
    padding: 0px;
  }

  .nav-list a:after {
    background: none;
  }

  .contact-links {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 343px) {
  html {
    font-size: 35%;
  }

  section {
    scroll-margin-top: 30px;
  }

  .nav {
    justify-content: center;
  }

  .nav-list > li {
    margin: 0px;
    padding: 0px;
    height: 10px;
  }

  .nav-list a:after {
    background: none;
  }

  .contact-links {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
  }
}
